.cc {
  .viewContainer {
    .carouContainer {
      margin-top: 20px;
      .image {
        border-radius: 5px;
      }
    }
    .inforContainer {
      background-color: white;
      margin: 0px 5px 5px 0px;
      height: 400px;
      overflow-y: scroll;
      .tableVariant {
        margin-top: 10px;
        width: 100%;
      }
    }
  }
}
.subtitle {
  font-size: 17px;
  font-weight: 600;
}
