@import (css)
  url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap&subset=vietnamese');
@import (css) 
url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&family=Kanit&family=Roboto&display=swap');
html, body, #root {
  height: 100%;
}

body {
  margin: 0;
}
:root{
  --input-background: #EDF2F7;
  --input-placeholder: #2D3748;
  .ant-modal.cc {
    .ant-modal-content .ant-modal-header .ant-modal-title {
      font-size: 20px;
      text-align: center;
    }
  }
  .ant-select.picker {
    display: flex;
    justify-content: space-around;
    .ant-select-selector {
    margin-left: 40px;
    border-radius: 5px;
    border-style: hidden;
    background-color: var(--input-background);
    }
  }
  .ant-table-thead > tr >th{
    color: white;
    background: #5488b9 !important;
    font-weight: 700;
  }
  .ant-input {
    border-color: #16B9C3;
    &:focus {
      border-color: #16B9C3;
    }
  }
}